<!-- views/fragments/header.ejs -->
<meta charset="utf-8">
<title>Photobot</title>

<link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Rubik">

<!-- STATIC LOAD -->
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<link href="css/main.css" rel="stylesheet" type="text/css">
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/socket.io.js"></script>
<script defer src="js/fontawesome-all.js"></script>
