<!-- views/pages/index.ejs  -->

<!DOCTYPE html>
<html lang='es'>
<head>
  {% include 'header.html' %}
  {% include 'websocket.html' %}

  <script>
  // Global variables
  var isStarted = false;
  // Generate event listeners for buttons
  function addButtonHold(id,action,interval){
    var intervalId;
    $(id).mousedown(
      function(){
        intervalId = setInterval(function(){action(); console.log("HOLA");}, interval);
    }).mouseup(function() {
      clearInterval(intervalId);
    }).mouseleave(function(){
      clearInterval(intervalId);
    });
  }
  
  function disableAllControlButtons(){
      $(".control-btn").prop('disabled', true);
      }

  $(document).ready(function() {
      disableAllControlButtons();
      $("#add_button").click(function(){
        disableAllControlButtons();
        var value = $('input[name=button-group]:checked').val();
        sendActionIncrementCommand(socket, value, 'ADD');});
      $("#sus_button").click(function(){
        disableAllControlButtons();
        var value = $('input[name=button-group]:checked').val();
        sendActionIncrementCommand(socket, value, 'SUS');});
      $("#thermo_button").click(function(){
        disableAllControlButtons();
        sendMeasCommand(socket, 'TEMP');});
      $("#light_button").click(function(){
        disableAllControlButtons();
        sendMeasCommand(socket, 'LUM');});
      $("#accel_button").click(function(){
        disableAllControlButtons();
        sendMeasCommand(socket, 'ACC');});
      $("#demo1_button").click(function() {
        disableAllControlButtons();
        sendDemo(socket,1)});
      $("#demo2_button").click(function() {
        disableAllControlButtons();
        sendDemo(socket,2)});
      $("#demo_launch").click(function() {
        disableAllControlButtons();
        console.log($("#demo_select").find('option:selected').val())
        sendDemo(socket,$("#demo_select").find('option:selected').val())});
      
      $("#demo_add").click(function() {
        console.log("Add");
        addEmptyDemoJSON()}
        );
      
      $("#demo_save").click(function() {
        console.log("Guardar")
        saveDemoJSON()}
        );
      
      $("#demo_delete").click(function() {
        console.log("Guardar")
        deleteDemo($("#demo_select").find('option:selected').val())}
        );

      $("#demo_record").click(function() {
        console.log("Record");
        addCommandtoDemo([$("#slider-bas").val(), $("#slider-shl").val(), $("#slider-elb").val(), $("#slider-wrv").val(), $("#slider-wrr").val(), $("#slider-grp").val()], $("#demo_select").find('option:selected').val())
        });

      $("#reset_button").click(function() {
        disableAllControlButtons();
        sendActionAbsoluteCommand(socket,resetPositionABS)});

      $("#exec_button").click(function() {
        disableAllControlButtons();
        sendActionAbsoluteCommand(socket,[$("#slider-bas").val(), $("#slider-shl").val(), $("#slider-elb").val(), $("#slider-wrv").val(), $("#slider-wrr").val(), $("#slider-grp").val()] )});

      $("#base").click(function(){
        $("#add_button svg").removeClass().addClass('fas fa-arrow-circle-right fa-2x')
        $("#sus_button svg").removeClass().addClass("fas fa-arrow-circle-left fa-2x")
        $("#button-selection").text("Base")});
      $("#shoulder").click(function(){
        $("#add_button svg").removeClass().addClass('fas fa-arrow-circle-up fa-2x')
        $("#sus_button svg").removeClass().addClass("fas fa-arrow-circle-down fa-2x")
        $("#button-selection").text("Hombro")});
      $("#elbow").click(function(){
        $("#add_button svg").removeClass().addClass('fas fa-arrow-circle-up fa-2x')
        $("#sus_button svg").removeClass().addClass("fas fa-arrow-circle-down fa-2x")
        $("#button-selection").text("Codo")});
      $("#wrist").click(function(){
        $("#add_button svg").removeClass().addClass('fas fa-arrow-circle-up fa-2x')
        $("#sus_button svg").removeClass().addClass("fas fa-arrow-circle-down fa-2x")
        $("#button-selection").text("Muñeca")});
      $("#wrist2").click(function(){
        $("#add_button svg").removeClass().addClass('fas fa-arrow-circle-right fa-2x')
        $("#sus_button svg").removeClass().addClass("fas fa-arrow-circle-left fa-2x")
        $("#button-selection").text("Muñeca2")});
      $("#grips").click(function(){
        $("#add_button svg").removeClass().addClass('fas fa-arrow-circle-right fa-2x')
        $("#sus_button svg").removeClass().addClass("fas fa-arrow-circle-left fa-2x")
        $("#button-selection").text("Pinzas")});

      var rangeSlider = function(){
        var slider = $('.range-slider'),
        range = $('.range-slider__range'),
        value = $('.range-slider__value');

      slider.each(function(){

      value.each(function(){
        var value = $(this).prev().attr('value');
        $(this).html(value+"<sup>o</sup>");});

      range.on('input', function(){
        $(this).next(value).html(this.value+"<sup>o</sup>");});
      });
      };
      rangeSlider();

      $("#code_change_button").click(function(){
        console.log("Presing Change code Button");
        var code = $("#code_change_input").val();
        console.log(code);
        change_user_code(socket, code);
      });

      update_gui_connect();
    
      $("#start_button").click(function(){ 
        if (isStarted){
            // $("#start_button svg").toggleClass('color-stp');
            // $("#start_button svg").toggleClass('color-sus');
            stop(socket);
            isStarted = false;
            // isStarted = false;
        }else{
            // $("#start_button svg").toggleClass('color-sus');
            // $("#start_button svg").toggleClass('color-stp');
            start(socket);
            // isStarted = true;
        };
      });

      $("#demo_launch").hover(
        function() {
          $("#executeText").toggle();
        }, function() {
          $("#executeText").toggle();
        }
      );$("#demo_add").hover(
        function() {
          $("#addText").toggle();
        }, function() {
          $("#addText").toggle();
        }
      );$("#demo_save").hover(
        function() {
          $("#saveText").toggle();
        }, function() {
          $("#saveText").toggle();
        }
      );$("#demo_delete").hover(
        function() {
          $("#deleteText").toggle();
        }, function() {
          $("#deleteText").toggle();
        }
      );$("#exec_button").hover(
        function() {
          $("#moveText").toggle();
        }, function() {
          $("#moveText").toggle();
        }
      );$("#reset_button").hover(
        function() {
          $("#resetText").toggle();
        }, function() {
          $("#resetText").toggle();
        }
      );$("#demo_record").hover(
        function() {
          $("#recordText").toggle();
        }, function() {
          $("#recordText").toggle();
        }
      );

  });
  </script>
</head>

<body>
  <div id="header">
  <div class="col-sm-12">
    <img id="img-telefonicalogo" src="/images/telefonica-logo.png"/>
    <img id="img-ideticlogo"src="/images/idetic-logo.png"/>
  </div>
          <div id="header2">
          </div>
  </div>
  <div id="principal" class="container-fluid">
    <div id="modal-camera" class="modal">
      <!--Modal Content-->
      <div class="modal-content">
        <span>
      </div>
    </div>
    <div id="data-central" class="row">
      <div id="data" class="col-sm-6">
        <div id="intro" class="container-fluid row">
          <div id="intro-header">
            <h2 id="title" class="">VLC para industria 4.0</h2>
            <div id="button-setup-container" class="d-flex float-right">
              <button id='start_button' href="#" class="btn btn-primary"><i class="fas fa-power-off fa-2x color-stp"></i></button>
              <!--<button id='camera_button' href="#" class="btn btn-primary w-100"><i class="fas fa-camera fa-2x"></i></button>-->
              <span id='start_indicator' class="dot"></span>
            </div>
          </div>

          <div id="code-form" style="display: flex;" class="input-group">
            <div style="flex: 1 1 0; display: flex;">
              <input id="code_change_input" style="display:flex; flex:3 1 auto; width:10px" type="text" class="form-control" placeholder="Código de usuario" aria-label="Código de usuario" aria-describedby="basic-addon2">
              
              <div class="input-group-append">
                <button id="code_change_button" class="btn btn-primary" type="button">Cambiar Código</button>
              </div>
            </div>
            <div style="flex: 1 1 0; display: flex;">
              <input id="code_login_input" style="display:flex; flex:3 1 auto; width:10px" type="text" class="form-control" placeholder="Código de usuario" aria-label="Código de usuario" aria-describedby="basic-addon2">
              
              <div class="input-group-append">
                <button id="code_login_button" class="btn btn-primary" type="button">¡Conectar!</button>
              </div>
            </div>
          </div>

          <!-- <div id="code-disconnect-users-form" style="display: flex;" class="input-group">
            <div style="flex: 1 1 0">
            </div>
            <div style="flex: 1 1 0; display: flex;">
              <input id="code_login_input" style="display:flex; flex:3 1 auto; width:10px" type="text" class="form-control" placeholder="Código de usuario" aria-label="Código de usuario" aria-describedby="basic-addon2">
              
              <div class="input-group-append">
                <button id="code_login_button" class="btn btn-primary" type="button" onclick="connect_socket()">¡Conectar!</button>
              </div>
            </div>
          </div> -->

        </div>
            <div id="title-console">
              <h5><i class="fa fa-terminal"></i> Consola</h5>
            </div>
        <div id="console" class="scroll-box">
            Robot VLC: Bienvenido al sistema de control Soccer. Esta consola le ayudará a llevar un registro de los eventos que ocurren en el sistema. Para comenzar inicie el sistema con el botón de "Encendido"
          Si desea calibrar la camara receptora clickee en el botón "Camara".
        </div>

      </div>
      <div id="robot-container-all" class="col-sm-4">
      <div id="robot-container" class="container-fluid">
        <div id="img-container" class="row">
          <img id="img-robot-hand" class="img-responsive" src="/images/robot1.jpg"/>
          <div id="img-robot-overlay" class="img-responsive" >

            <label class="selector-container" style="left: 41%;bottom: 15%;">
              <input type="radio" id="base" name="button-group" checked="checked" value="BAS"><p>Base</p>
              <span class="checkmark"></span>
            </label>

            <label class="selector-container" style="left: 45%;bottom: 33%;">
              <input type="radio" id="shoulder" name="button-group" value="SHL"><p>Hombro</p>
              <span class="checkmark"></span>
            </label>

            <label class="selector-container" style="left: 60%;bottom: 50%;">
              <input type="radio" id="elbow" name="button-group" value="ELB"><p>Codo</p>
              <span class="checkmark"></span>
            </label>

            <label class="selector-container" style="left: 54%;bottom: 79%;">
              <input type="radio" id="wrist" name="button-group" value="WRV"><p>Muñeca</p>
              <span class="checkmark"></span>
            </label>

            <label class="selector-container" style="left: 40%;bottom: 65%;">
              <input type="radio" id="wrist2" name="button-group" value="WRR"><p>Muñeca2</p>
              <span class="checkmark"></span>
            </label>

            <label class="selector-container" style="left: 28%;bottom: 52%;">
              <input type="radio" id="grips" name="button-group" value="GRP"><p>Pinzas</p>
              <span class="checkmark"></span>
            </label>
          </div>
      </div>
        <div id="button-container" class="container-fluid">
        <!--<div id="button-demo" class="col-sm-8 d-flex" role="group">
          <button href="#" class="btn btn-primary w-100">Demo 1</button>
          <button href="#" class="btn btn-primary w-100">Demo 2</button>
          <button href="#" class="btn btn-primary w-100">Demo 3</button>
        </div>-->
            <div class="button-container-top">
              <div id="button-action1" class="d-flex" role="group">
                <button id="sus_button" type="button" class="control-btn btn btn-primary w-50"><i class="fas fa-arrow-circle-left fa-2x"></i></button>
                <h5 id="button-selection" class="w-100">Base</h5>
                <button id="add_button" type="button" class="control-btn btn btn-primary w-50"><i class="fas fa-arrow-circle-right fa-2x"></i></button>
              </div>
            </div>
                <div id="button-container-bottom">

                  <div class="range-slider d-flex" role="group">
                    <span class="range-slider__label">Pinzas</span>
                    <input id="slider-grp" class="range-slider__range" type="range" value="73" min="10" max="73">
                    <div class="range-slider__value">0º</div>
                  </div>

                  <div class="range-slider d-flex" role="group">
                    <span class="range-slider__label">Muñeca2</span>
                    <input id="slider-wrr" class="range-slider__range" type="range" value="0" min="0" max="75">
                    <span class="range-slider__value">0º</span>
                  </div>

                  <div class="range-slider d-flex" role="group">
                    <span class="range-slider__label">Muñeca</span>
                    <input id="slider-wrv" class="range-slider__range" type="range" value="0" min="0" max="90">
                    <span class="range-slider__value">0º</span>
                  </div>

                  <div class="range-slider d-flex" role="group">
                    <span class="range-slider__label">Codo</span>
                    <input id="slider-elb" class="range-slider__range" type="range" value="0" min="0" max="85">
                    <span class="range-slider__value">0º</span>
                  </div>

                  <div class="range-slider d-flex" role="group">
                    <span class="range-slider__label">Hombro</span>
                    <input id="slider-shl" class="range-slider__range" type="range" value="140" min="95" max="140">
                    <span class="range-slider__value">0º</span>
                  </div>

                  <div class="range-slider d-flex" role="group">
                    <span class="range-slider__label">Base</span>
                    <input id="slider-bas" class="range-slider__range" type="range" value="45" min="0" max="90">
                    <span class="range-slider__value">0º</span>
                  </div>
                </div>
          </div>
      </div></div>
      <div id="meas-container" class="col-sm-2">
      <div id="meas-container-top" class="container-fluid">
        <div id="meas-container-top-buttons">
            <button id="thermo_button" type="button" class="control-btn btn btn-primary"><i class="fa fa-thermometer-three-quarters fa-2x"></i></button>
            <span id="thermo_button_value" class="button_value">x</span>
            <button id="light_button" type="button" class="control-btn btn btn-primary"><i class="fa fa-lightbulb fa-2x"></i></button>
            <span id="light_button_value" class="button_value">x</span>
            <button id="accel_button" type="button" class="control-btn btn btn-primary"><i class="fa fa-arrows-alt fa-2x"></i></button>
            <span id="accelx_button_value" class="button_value" style="margin-bottom : 3px">x: x</span>
            <span id="accely_button_value" class="button_value" style="margin-bottom : 3px">y: x</span>
            <span id="accelz_button_value" class="button_value" style="margin-bottom : 3px">z: x</span>
        </div>
      </div>
      
      <div id="meas-container-bottom">
        
        <div id="list-button" class="btn-group btn-group-justified btn-width100">
          <div class="btn-group btn-width75 btn-height100">
            <select id="demo_select" class="form-control control-btn btn-width100 btn-height100">
              <option>demo1</option>
              <option>demo2</option>
            </select>
          </div>
          <div id="demo_launch_con" class="btn-group btn-width25 btn-height100">
              <button id="demo_launch" href="#" class="control-btn btn btn-primary"><i class="fas fa-play fa-2x"></i></button>
          </div>
        </div>

        <div id="add_remove_button_container" class="btn-group btn-group-justified btn-width100">
          <div class="btn-group btn-width33 btn-height100">
              <button id="demo_add" href="#" class="control-btn btn btn-primary"><i class="fas fa-plus-square fa-2x"></i></i></button>
          </div>
          <div class="btn-group btn-width33 btn-height100">
              <button id="demo_save" href="#" class="control-btn btn btn-primary"><i class="far fa-save fa-2x"></i></i></button>
          </div>
          <div class="btn-group btn-width33 btn-height100">
              <button id="demo_delete" href="#" class="control-btn btn btn-primary"><i class="fas fa-trash fa-2x"></i></i></button>
          </div>
        </div>

        <div id="edit_button_container" class="btn-group btn-group-justified btn-width100">
          <div class="btn-group btn-width33 btn-height100">
              <button id="exec_button" href="#" class="control-btn btn btn-primary"><i class="fas fa-arrows-alt fa-2x"></i></button>
          </div>
          <div class="btn-group btn-width33 btn-height100">
              <button id="reset_button" href="#" class="control-btn btn btn-primary"><i class="fas fa-redo fa-2x"></i></button>
          </div>
          <div class="btn-group btn-width33 btn-height100">
              <button id="demo_record" href="#" class="control-btn btn btn-primary"><i class="fas fa-camera-retro fa-2x"></i></button>
          </div>
        </div>

        <div id="label_container" class="btn-group btn-group-justified btn-width100">
          <p id="executeText">Ejecutar demo</p>
          <p id="addText">Anadir demo</p>
          <p id="saveText">Guardar demo</p>
          <p id="deleteText">Eliminar demo</p>
          <p id="moveText">Mover robot</p>
          <p id="resetText">Posicion inicial</p>
          <p id="recordText">Grabar posicion en demo (Max 8)</p>
        </div>
      
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Este demostrador ha sido desarrollado en los laboratorios del © IDeTIC para © Telefónica S.A</p>
  </div>
</body>

</html>
