<script>
var socket;
// SECRETS_GIT
var host = 'https://photobot.idetic.ulpgc.es'

var isDemoHappening = false
var demoBuffer = []
var nextDemoIteration = 0
var numberOfIterations = 0

resetPositionABS = [45, 140, 0, 0, 0, 73]

window.items = []
$(document).ready(function(){
    
    console.log( "Launching GET JSON DEMOS" );

    var jqxhr = $.getJSON(host + '/demos', function(data) {
      console.log( "success" );
    })
      .done(function(data) {
        console.log( "second success" );
        var select = $('#demo_select');
        select.empty();
        var itemsRaw = data["demos"];
        $.each(itemsRaw,function(key, value) 
            {
                items.push(value["commands"])
                select.append('<option value=' + key + '>' + 'demo ' + key + '</option>');
            });
        console.log(items)
      })
      .fail(function(data) {
        console.log( "error" );
      })
      .always(function(data) {
        console.log( "complete" );
      });

    var socket;
    var login_code;
    window.user_is_connected=false;
    });
    
    function write_in_console(msg, state="log"){
        console.log("Writing in console");
        if (state == "log"){
            $("#console").append("<br><strong>PhotoBot:</strong> "+msg);
        }else if(state == "error"){
            $("#console").append("<br><strong>PhotoBot:</strong> " +
            "<mark class='error_mark'>(Error)</mark>"+msg);
        }
        $("#console").scrollTop($("#console")[0].scrollHeight);
    }

    function update_gui_disconnect(){
        console.log("Updating Gui for disconnection")
        $("#code_login_button").text("Desconectar");
        $("#code_login_button").attr("onclick", "disconnect_socket()");
    }
    
    function update_gui_connect(){
        console.log("Updating Gui for connection")
        $("#code_login_button").text("¡Conectar!");
        $("#code_login_button").attr("onclick", "connect_socket()");
    }

    function disable_control_buttons(disable){
        $(".control-btn").prop('disabled', disable);
    }
/******************************************************************************
    SocketIO Client Functions
******************************************************************************/
    function connect_socket(){

        if (!window.user_is_connected){
                
            console.log("Connecting socket");
            login_code = $("#code_login_input").val();
            console.log(login_code);
            socket = io.connect(host+'/main',{query:{login_code:login_code}});

            //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            // Linking socket events with function callbacks
            //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            
            /***************************************************************
            Event: 'connectionAccepted'
            namespace: 'main'
            Use:
            The connection has been accepted for this user.
            It also informs the user is the system is currently operating
            with the variable isStarted.
            ***************************************************************/

            socket.on('connectionAccepted', function(msg){
                
                console.log('SocketIO has been connected '+msg.isStarted);
                write_in_console("¡Felicidades! Te has conectado " +
                "correctamente.");

                if(msg.isStarted){
                    isStarted = true;
                    disable_control_buttons(false);
                    $("#start_indicator").css("background-color","#00ff99");

                    write_in_console("Utiliza el panel de tu derecha para" +
                    "enviarme instrucciones. Comienza seleccionando" +
                    "el motor que deseas mover y clica en las flechas que " +
                    "aparecen al lado del nombre del motor.");

                }else{
                    isStarted = false;
                    disable_control_buttons(true);
                    $("#start_indicator").css("background-color","#993300");

                    write_in_console("Espera a que arregle mis motores." +
                    "Te avisaré con una luz verde y te " +
                    "habilitaré el panel de control para que puedas mandarme" +
                    "instrucciones.");
                }
                update_gui_disconnect();
                window.user_is_connected = true;

            });

            /***************************************************************
            Event: 'connectionRefused'
            namespace: 'main'
            Use:
            The connection has been refused.
            It can be only 4 concurrent connected users and 1 administration
            user.

            A event 'connectionRefused' is sent waiting for the
            event 'connectionRefusedACK' to perform the desconnection of the
            client. The client must be in charge to send this event.

            // TODO: MSG the room is full.
            ***************************************************************/

            socket.on('connectionRefused', function(msg){
                console.log('SocketIO connection has been refused '
                    + msg.clientsid);
                socket.emit('connectionRefusedACK',
                    {clientsid: msg.clientsid});
                
                console.log("REFUSE ID: "+msg.reason_id);

                if (msg.reason_id==0){
                    write_in_console("Ha sucedido algo :(. El código que has "+
                    "introducido no es correcto. Introduce uno nuevo.","error");
                }else if(msg.reason_id=1){
                    write_in_console("Ha sucedido algo :(. La sala está "+
                    "actualmente llena. Pídele a alguno de tus compañeros"+
                    " que se desconecte.", "error");
                }else if(msg.reason_id=2){
                    write_in_console("Ha sucedido algo :(. Otro administrador "+
                    "se ha conectado. Se te deshabilitará la conección.",
                                     "error");
                alert("Otro administrador se ha conectado. Se te deshabilitará"+
                " la conección.");
                }
            });

            /***************************************************************
            Event: 'disconnect'
            namespace: 'main'
            Use:
            The server has disconnected the user.
            ***************************************************************/

            socket.on('disconnect', function(reason){
                console.log('SocketIO connections has been closed');
                update_gui_connect();
                write_in_console('La sesión ha terminado... ¡Espero verte de'+
                'nuevo pronto!')
                window.user_is_connected = false;
                disable_control_buttons(true);
                $("#start_indicator").css("background-color","#993300");
                alert('La sesión ha terminado... ¡Espero verte de ' +
                'nuevo pronto!');
            });

            /***************************************************************
            Event: 'messageClient'
            namespace: 'main'
            Use:
            The server emits a string message to notify the users.

            // TODO: Split Admin and User messages.
            ***************************************************************/

            socket.on('messageClient',function(msg){
                write_in_console(msg.msg)
                console.log('Server has sent the message: '+msg.msg)
            });

            /***************************************************************
            Event: 'startClient'
            namespace: 'main'
            Use:
            The system has been launched and users could send now
            instructions to control photobot.
            ***************************************************************/

            socket.on('startClient',function(msg){
                if(msg.isOk == 'ok'){
                    disable_control_buttons(false);
                    $("#start_indicator").css("background-color","#00ff99");
                    isStarted = true;
                    emitIsStarted(socket,isStarted);
                }else{
                    $("#start_indicator").css("background-color","#FFFF00");
                }
                write_in_console("¡Buenos días! Ya me desperté...");

                write_in_console("Utiliza el panel de tu derecha para " +
                    "enviarme instrucciones. Comienza seleccionando " +
                    "el motor que deseas mover y clica en las flechas que " +
                    "aparecen al lado del nombre del motor.");
            });

            /***************************************************************
            Event: 'stopClient'
            namespace: 'main'
            Use:
            The system has been stopped successfully and the admin must
            start it again to enable control by the users.
            ***************************************************************/

            socket.on('stopClient',function(msg){
                disable_control_buttons(true);
                $("#start_indicator").css("background-color","#993300");
                isStarted = false;
                emitIsStarted(socket,isStarted);
                write_in_console("Me voy a desconectar.");
            });

            /***************************************************************
            Event: 'ackClient'
            namespace: 'main'
            Use:
            The server notifies that an instruction has been successfully
            perform by photobot.

            // TODO: Introduce a field name for the user to identify who
            performs every instruction.
            ***************************************************************/

            socket.on('ackClient',function(msg){
                if(isDemoHappening){
                    nextDemoIteration+=1
                    if(nextDemoIteration >=demoBuffer.length ){
                        nextDemoIteration = 0;
                        isDemoHappening = false;
                        demoBuffer = [];
                        write_in_console(msg);
                        write_in_console("¡La demo ha finalizado " +
                        "correctamente!");
                        disable_control_buttons(false);
                    }else{
                        sendActionAbsoluteCommand(socket,
                            demoBuffer[nextDemoIteration]);
                    }
                }else{
                    write_in_console(msg.msg);
                    disable_control_buttons(false);
                }
            });

            /***************************************************************
            Event: 'error'
            namespace: 'main'
            Use:
            The server notifies that an error has ocurred while photobot
            performs the last routine.
            ***************************************************************/

            socket.on('errClient',function(msg){
                if(isDemoHappening){
                    if(numberOfIterations < 2){
                        numberOfIterations ++;
                    }else{
                        numberOfIterations = 0;
                        demoBuffer = [];
                        isDemoHappening = false;
                        nextDemoIteration = 0;
                    }
                }
                write_in_console("Se ha recibido un error" + msg.msg);
                disable_control_buttons(false);
            });

            /***************************************************************
            Event: 'tempClient'
            namespace: 'main'
            Use:
            The server sends the temperature value acquired by photobot.
            ***************************************************************/

            socket.on('tempClient',function(msg){
                write_in_console("Se ha recibido un valor de temperatura: "
                                + msg.temp + "C");
                $('#thermo_button_value').html(
                    Math.round(msg.temp * 100) / 100+"<sup>o</sup>C");
                disable_control_buttons(false);
            });
            
            /***************************************************************
            Event: 'lumClient'
            namespace: 'main'
            Use:
            Server sends the luminous related value acquired by photobot.
            ***************************************************************/

            socket.on('lumClient',function(msg){
                write_in_console("Se ha recibido un valor de luminosidad: "
                                + msg.lum + "C");
                $('#light_button_value').html(msg.lum + " lumenes");
                disable_control_buttons(false);
            });
            
            /***************************************************************
            Event: 'accCleint'
            namespace: 'main'
            Use:
            Server sends the accelerometer values acquired by photobot.
            ***************************************************************/

            socket.on('accClient',function(msg){
                write_in_console("Se ha recibido un valor para el " +
                "accelerómetro: x: "+msg.accx+", y: "+msg.accy+", z: " +
                + msg.accz);
                disable_control_buttons(false);
                $('#accelx_button_value').html("x: "
                +Math.round(msg.accx/16384 * 100)/100+ "g");
                $('#accely_button_value').html("y: "
                +Math.round((msg.accy-32768.0)*2/32768.0 * 100)/100 + "g");
                $('#accelz_button_value').html("z: "
                +Math.round((msg.accz-32768.0)*2/32768.0 * 100)/100 + "g");
            });
            
            /***************************************************************
            Event: 'datClient'
            namespace: 'main'
            Use:
            Server sends the data related value acquired by photobot.
            ***************************************************************/

            socket.on('datClient',function(msg){
                write_in_console(msg.msg);
                disable_control_buttons(false);
            });
        }
    }
    // END of connect_socket function

    function disconnect_socket(){
        disable_control_buttons(true);
        $("#start_indicator").css("background-color","#993300");
        socket.close();
    }

    /*******************************************************************
    Function: 'start'
    namespace: 'main'
    Use:
    The admin sends a start command to photobot.
    *******************************************************************/
    
    function start(socket){
        console.log("Starting system");
        socket.emit('start');
    }

    /*******************************************************************
    Function: 'changeUserCode'
    namespace: 'main'
    Use:
    The admin sends a changeUserCode to photobot to change the actual 
    login user code.
    *******************************************************************/
    
    function change_user_code(socket, code){
        console.log("Starting system");
        socket.emit('changeUserCode', {'user_code': code});
    }

    /*******************************************************************
    Function: 'disconnectAllUsers'
    namespace: 'main'
    Use:
    The admin sends a disconnectAllUsers to photobot to disconnect all
    the users to free room space for new incoming clients.
    *******************************************************************/

    function disconnect_all_users(socket){
        console.log("Starting system");
        socket.emit('disconnectAllUsers');
    }

    /*******************************************************************
    Function: 'cameraIsStarted'
    namespace: 'main'
    Use:
    Revise
    *******************************************************************/
    
    function emitIsStarted(socket, isStartedState){
        socket.emit('cameraIsStarted', {'isStarted': isStartedState});
    }
    
    /*******************************************************************
    Function: 'stop'
    namespace: 'main'
    Use:
    The admin sends a stop command to photobot
    *******************************************************************/
    
    function stop(socket){
        socket.emit('stop');
    }
    
    /*******************************************************************
    Function: 'command'
    namespace: 'main'
    Use:
    The client emits an user instruction to photobot

    //TODO: Do a small command preprocessing to avoid bad commands.
    *******************************************************************/
    function sendCommand(socket,commandType, commandParams){
        socket.emit('command',
        {type: commandType, params: commandParams});
    }

    /*******************************************************************
    Function: 'measure'
    namespace: 'main'
    Use:
    The admin emits a meassure instruction to photobot

    //TODO: Do a small command preprocessing to avoid bad commands.
    *******************************************************************/
    function sendMeasCommand(socket, equiptment){
        sendCommand(socket, 'meas',[equiptment]);
    }

    /*******************************************************************
    Function: 'actionInc'
    namespace: 'main'
    Use:
    The client sends an instruction to in/decrement the motor position
    *******************************************************************/
    function sendActionIncrementCommand(socket, motor, isIncrement){
        sendCommand(socket, 'actionInc',[motor, isIncrement]);
    }

    /*******************************************************************
    Function: 'actionAbs'
    namespace: 'main'
    Use:
    Client sends an instruction to update the position of all motors.
    *******************************************************************/
    function sendActionAbsoluteCommand(socket, motor){
        sendCommand(socket, 'actionAbs',motor);
    }

/******************************************************************************
    API Client Functions
******************************************************************************/
    
    function sendDemo(socket, demoNumber){
        if(demoNumber < items.length){
            isDemoHappening = true;
            nextDemoIteration = 0;
            numberOfIterations = 0;
            demoBuffer = items[demoNumber]
            console.log(items[demoNumber])
            sendActionAbsoluteCommand(socket,
                demoBuffer[nextDemoIteration])
        }
    }

    function addEmptyDemoJSON(){
        var demo = []
        demo.push(resetPositionABS)
        demo.push(resetPositionABS)
        console.log(demo)
        items.push(demo)
        var select = $('#demo_select');
        select.empty();
        $.each(items,function(key, value) 
            {
                select.append('<option value=' + key + '>' + 'demo '
                              + key + '</option>');
            });
        select.prop("selectedIndex",items.length-1);
    }

    function addCommandtoDemo(command, index){
        if (items[index].length>=8){
            alert("No se puede anadir mas de 8 comandos.")
        }else if(index < 2){
            alert("No se pueden modificar las demos por defecto.")
        }
        else{
            items[index].splice(items[index].length-1,0,command);
            console.log(items[index]);
            alert("Comando anadido correctamente.")
        }
    }

    function deleteDemo(index){
        if(index<2){
            alert("Error: no se pueden eliminar las demos 0 y 1.")
        }else if(index<items.length){
            items.splice(index, 1);
            alert("Se ha eliminado la demo correctamente.")
            var select = $('#demo_select');
            select.empty();
            $.each(items,function(key, value) 
            {
                select.append('<option value=' + key + '>' + 'demo '
                              + key + '</option>');
            });
            select.prop("selectedIndex",items.length-1);
        }else{
            alert("No se ha encontrado la demo correspondiente.")
        }
    }

    function generateDemoJSON(){
        demoItemsJson = [];
        demoJson = [];
        console.log(items)
        $.each(items,function(key, value) 
            {
                demoItemsJson.push({"commands":value});
            });
        demoJson = {"demos" : demoItemsJson};
        console.log(JSON.stringify(demoJson));
        return demoJson;
    }

    function saveDemoJSON(){
        demoJson = generateDemoJSON(items);
        console.log(JSON.stringify(demoJson));
        $.ajax({
            type: "POST",
            url: host + '/savedemos',
            data: JSON.stringify(demoJson),
            contentType: 'application/json',
            success: function (data) {
                alert(data.msg);
            },
            failure: function(errMsg) {
                alert(errMsg.msg);
            }
        })
    }
</script>

