/* Colores
  focus color: #61e0f2
  dark color: #00517A
 */

/**
* LOAD FONTs
*/
/* @font-face {
    font-family: 'TelefonicaWeb-Bold';
    src: url('fonts/TelefonicaWeb-Bold.eot'); /* IE9 Compat Modes * /
    src:url('fonts/TelefonicaWeb-Bold.woff2') format('woff2'), /* Super Modern Browsers * /
       url('fonts/TelefonicaWeb-Bold.woff') format('woff'), /* Pretty Modern Browsers * /
       url('fonts/TelefonicaWeb-Bold.ttf')  format('truetype'), /* Safari, Android, iOS * /
       url('fonts/TelefonicaWeb-Bold.svg#svgFontName') format('svg'); /* Legacy iOS * /
}
@font-face {
    font-family: 'TelefonicaWeb-ExtraLight';
    src: url('fonts/TelefonicaWeb-ExtraLight.eot'); /* IE9 Compat Modes * /
    src:url('fonts/TelefonicaWeb-ExtraLight.woff2') format('woff2'), /* Super Modern Browsers * /
       url('fonts/TelefonicaWeb-ExtraLight.woff') format('woff'), /* Pretty Modern Browsers * /
       url('fonts/TelefonicaWeb-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS * /
       url('fonts/TelefonicaWeb-ExtraLight.svg#svgFontName') format('svg'); /* Legacy iOS * /
}
@font-face {
    font-family: 'TelefonicaWeb-Hand';
    src: url('fonts/TelefonicaWeb-Hand.eot'); /* IE9 Compat Modes * /
    src:url('fonts/TelefonicaWeb-Hand.woff2') format('woff2'), /* Super Modern Browsers * /
       url('fonts/TelefonicaWeb-Hand.woff') format('woff'), /* Pretty Modern Browsers * /
       url('fonts/TelefonicaWeb-Hand.ttf')  format('truetype'), /* Safari, Android, iOS * /
       url('fonts/TelefonicaWeb-Hand.svg#svgFontName') format('svg'); /* Legacy iOS * /
}
@font-face {
    font-family: 'TelefonicaWeb-Light';
    src: url('fonts/TelefonicaWeb-Light.eot'); /* IE9 Compat Modes * /
    src:url('fonts/TelefonicaWeb-Light.woff2') format('woff2'), /* Super Modern Browsers * /
       url('fonts/TelefonicaWeb-Light.woff') format('woff'), /* Pretty Modern Browsers * /
       url('fonts/TelefonicaWeb-Light.ttf')  format('truetype'), /* Safari, Android, iOS * /
       url('fonts/TelefonicaWeb-Light.svg#svgFontName') format('svg'); /* Legacy iOS * /
}
@font-face {
    font-family: 'TelefonicaWeb-Regular';
    src: url('fonts/TelefonicaWeb-Regular.eot'); /* IE9 Compat Modes * /
    src:url('fonts/TelefonicaWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers * /
       url('fonts/TelefonicaWeb-Regular.woff') format('woff'), /* Pretty Modern Browsers * /
       url('fonts/TelefonicaWeb-Regular.ttf')  format('truetype'), /* Safari, Android, iOS * /
       url('fonts/TelefonicaWeb-Regular.svg#svgFontName') format('svg'); /* Legacy iOS * /
}
@font-face {
    font-family: 'TelefonicaWeb-RegularItalic';
    src: url('fonts/TelefonicaWeb-RegularItalic.eot'); /* IE9 Compat Modes * /
    src:url('fonts/TelefonicaWeb-RegularItalic.woff2') format('woff2'), /* Super Modern Browsers * /
       url('fonts/TelefonicaWeb-RegularItalic.woff') format('woff'), /* Pretty Modern Browsers * /
       url('fonts/TelefonicaWeb-RegularItalic.ttf')  format('truetype'), /* Safari, Android, iOS * /
       url('fonts/TelefonicaWeb-RegularItalic.svg#svgFontName') format('svg'); /* Legacy iOS * /
} */

/* COLORES - Marca gráfica ULPGC 
  NARANJA - PRINCIPAL #4D0000 (70%) | #FFA100 rgb(255,161,0)
  AZUL - PRINCIPAL #0066A1 | #7FE5FF (70%) rgb(0,102,161)
  GRIS PROFUNDO - SECUNDARIA #545859 | #D3D7D8 (50%) rgb(84,88,89)
*/

* {
  color: white;
  font-family: 'Rubik', serif;
}

h1, h2, h3
.h1, .h2, .h3 {
  small, .small {
    font-size: 60%;
  }
}

h1, .h1 {
  .subtitle {
    display: block;
    line-height: 40px;
    margin: 15px 0 30px;
  }
}

p {
    color: white;
}

span{
    color: white;
}

button{
    background: #0066A1;
}
.btn-primary.disabled, .btn-primary:disabled{
  background: #7FE5FF;
  color: white;
}
.color-err {
  color: #999933;
}
.color-stp {
  color: #663366;
}
body, html {
  height: 100%;
  margin: 0;
}
#principal {
  padding: 1.5em 1.5em 1.5em 1.5em;
  height: calc(100% - 100px - 40px);
  width: 100%;
  bottom: calc(0px);
  /* background: linear-gradient(to right,#51C6D9, #00517A); */
  background-color: white;
}

#header {
  position: relative;
  left: 0;
  right: 0;
  height: 100px;
  /* background-color: #00517A; */
  color: #444;
  /* background-image: url(/images/bg-header.png); */
  background-repeat: no-repeat;
  background-size:100% 100%;
}

#header2 {
  position: relative;
  top: 10px;
  left: 0;
  right: 0;
  height: 15px;
  background-color:#0066A1;
}

#title{
  width:70%;
  font-size-adjust: auto;
  display: inline-block;
  padding = auto;
  top: 5px;
  bottom: 5px;
}
#title-console{
    display:flex;
    height: 30px;
    justify-content: bottom;
}
#title-console h3{
    text-align: bottom;
    display:flex;
    justify-content: bottom;
}
#img-telefonicalogo{
  padding: 1.2em 0 0 2.5em;
  width: 15.71429em;
}
#img-ideticlogo{
  height: 85px;
  position: absolute;
  right: 0;
  padding: 1.2em 2.5em 0 0;
}
#data-central {
  height: 100%!important;
  margin: 0;
  padding: 0;
}
#data {
  height: 100%;
  background-color: #0066A1;
  border-radius: 15px;
  padding: 0.75em;
}
#intro {
  height: calc(20% - 30px);
  margin:0;
  padding:0;
}

#intro-header{
    height:30px;
    width: 100%;
}

#code-form{
  display: flex;
  height: 25px;
  width: 100%;
}

#code-form input{
  flex: 1 1 0;
}

#code-form .input-group-append{
  flex: 1 1 0;
}

#code-form button{
  color: #0066A1;
  background-color: #FFA100;
  width: 100%;
}

#code-form .btn-primary,
#code-form .btn-primary:active,
#code-form .btn-primary:visited,
#code-form .btn-primary:focus {
    background-color:#FFA100;/*#61e0f2;*/
    border: 0px solid #222;
    border-radius: 0 15px 15px 0;
}

#code-form .btn-primary:hover{
  background-color:#7FE5FF/*#00517A*/;
  border: 0px solid #222;
  border-radius: 0 15px 15px 0;
  height: 100%;
}

#button-setup-container{
    width:80px;
    align: left;
    height: 100%;
}
#button-setup-container button{
    background-color:transparent;
    width:30px;
    height:30px;
    margin:0 0 0 0px;
    padding: 0 0 0 3px;
}
#button-setup-container button svg{
    height:100%;
    color:#999932/*#c9c95e*//*#993300*/;
    text-shadow: 1px 1px 1px #ccc;
}
#button-setup-container button svg:hover{
    color:#ce4400;
}
#img-container{
  height: 50%;
  /* background-color: #D3E1E4; */
  align-content: center;
  padding: 0.5em;
}
#img-robot-overlay{
  position: absolute;
  top:0;
  left: 0;
  height: 50%;
  width: 100%;
  z-index: 100;
  margin:0;
  padding:0;
  /* background-color: rgba(255,0,0,0.5); */
}
#img-robot-hand{
  display: block;
  height: 100%;
  max-width: 95%;
  margin: auto;
}
#button-container{
  height: 50%;
  margin: 0;
  padding-right: 10px;
}
#button-container-top{
  height: 20%;
}

#send-container{
  height: 20%;
  width: 100%;
}

#send-button{
  display: inline;
  height: 100%;
  width: 50%;
}

#send-label{
  display: inline;
  height: 100%;
  width: 50%;
}

#button-selection{
    color: #0066A1;
}
#button-container-bottom{
  padding-top: 10px;
  justify-content: bottom;
  height: 60%;
}
#button-demo{
  width: 100%;
  padding: 0;
}
#button-action1,#button-action2{
  width: 100%;
  height: 100%;
  padding: 0;
}
#button-action1 h5{
    text-align: center;
    margin: auto;
}
#button-action1 input,button{
  height: 100%;
  text-align: center;
  margin: 0;
}
#send-container h3{
    text-align: center;
    margin: auto;
}
#send-container input,button{
  height: 100%;
  text-align: center;
  margin: 0;
}
#send-container .d-flex{
  height: 100%;
  text-align: center;
  margin: auto;
}
#button-action2 input,button{
  height: 100%;
  text-align: center;
  margin: 0;
}
#list-button{
  width: 100%;
}
#demo_list{
  width: 80%;
  height: 100%;
}
.btn-width100{
  width: 100%;
}
.btn-width50{
  width: 50%;
}
.btn-width75{
  width: 75%;
}
.btn-width25{
  width: 25%;
}
.btn-width33{
  width: 33.33%;
}
.btn-height100{
  height: 100%;
}
#robot-container-all{
    height: 100%;
    padding-right:0px;
    margin-right:0px;
}
#robot-container{
    height: 100%;
    padding: 0;
}
.footer {
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #dfdfdf;/*#003245;*/
    color: #a3a49f;/*#9c9c9c;*/
    text-align: center;
    padding-top: 10px;
    font-size: 12px;
}
.footer p{
    margin: 0px;
    padding: 0px;
    bottom: 0px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color:#0066A1;/*#61e0f2;*/
    border: 0px solid #222;
    border-radius: 15px;
    height: 100%;
}

.btn-primary:hover{
  background-color:#FFA100/*#00517A*/;
  border: 0px solid #222;
  border-radius: 15px;
  height: 100%;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* Selector-container */
.selector-container {
  display: block;
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: 25px;
  height: 25px;
  /* border: 2px solid #4d3900; */
  border-radius: 50%;
  opacity: 1;
  z-index: 200;
  -o-transform:scale(1);
  -ms-transform:scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Hide the browser's default radio button */
.selector-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  opacity: 1;
  background-color: #7FE5FF;/*#35ede4;*/
  border-radius: 50%;
  -o-transform:scale(1);
  -ms-transform:scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.selector-container p{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  margin-left: 2em;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  opacity: 1;
  background-color: #0066A1;
  border: 5px;
  color: white;
}

/* On mouse-over, add a grey background color */
.selector-container:hover input ~ .checkmark {

  -o-transform:scale(1.5);
  -ms-transform:scale(1.5);
  -webkit-transform: scale(.15);
  transform: scale(1.5);
  background-color: #0066A1;
  opacity: 1;
  border: 3px solid #FFA100;
}

.selector-container:hover input ~ p{
  opacity: 1;
}

.selector-container:hover{
  background-color:transparent;
  -o-transform:scale(1);
  -ms-transform:scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/* When the radio button is checked, add a blue background */
.selector-container input:checked ~ .checkmark {
  background-color: #FFA100;
  -o-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  opacity: 1;
  border: 3px solid #0066A1;
}

.selector-container input:checked ~ p{
  opacity: 1;
}

/**
****************************************************
CLASS: scroll-box
****************************************************
*/

.scroll-box{
    border: 1px;
    padding: 10px;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track{
    border: 1px solid transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: #c9c95e;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #c9c95e;
    filter: brightness(85%);
}

/**
****************************************************
ID: console
****************************************************
*/
#console {
  height: 80%;
  background-color: #D3D7D8;
  border-radius: 5px !important;
  border: 1px solid #222 !important; 
  color: #0066A1/*#999933*//*#E8D128*/;
  font-size: large;
}
#console.console-error{
	color: red;
}
#console strong{
  color: #FFA100;
}
.error_mark{
  color: red;
  background: none;
}
#meas-container{
    height:100%;
    padding: 0;
    margin: 0;
}
#meas-container-top{
    height: 60%;
    padding: 0;
    margin: 0;
}
#meas-container-top div button{
  height: 60px;
  width: 60px;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 0px 2px #888;
  margin-bottom: 3px;
}
#meas-container-top div button svg{
    color: white;
    height: 50%;
    width: 50%;
}

#meas-container-top-buttons{
    width: 60px;
    margin: auto;
}

#meas-container-top-buttons span.button_value{
    font-size: 12px;
    display: block;
    text-align:center;
    width: 100%;
    margin-bottom: 5px;
}
#meas-container-bottom{
    height:40%;
    width: 100%;
    padding: 0;
    margin: 0;
}
#meas-container-bottom button{
    height:20%;
    width: 100%;
    margin: 0px 0px 5px 0px;
}
#exec_button{
    height:100% !important;
}
#meas-container-bottom-left{
    display:inline-block;
    height: 100%;
    width: 47%;
    padding: 0;
    margin: 0;
}
#meas-container-bottom-left button{
    width: 100%;
    padding: 0;
    margin: 0;
}
#meas-container-bottom-right{
    display:inline-block;
    height: 100%;
    width: 47%;
    padding: 0;
    margin: 0;
    }
#meas-container-bottom-right button{
    width: 100%;
    padding: 0;
    margin: 0;
    }
/**
***************************************************
Slider container
***************************************************
**/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 1px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 10px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.range-slider {
  margin: 0px 0 0 0%;
}

.range-slider {
  height: 15%;
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width:50%;
  height: 15px;
  border-radius: 5px;
  background: #FFA100/*#c9c95e*//*#d7dcdf*/;
  outline: none;
  padding: 2px;
  margin: auto;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #0066A1/*#2c3e50*/;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #7FE5FF/*#1abc9c*/;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #7FE5FF/*#1abc9c*/;
}
.range-slider__range::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background: #0066A1/*#2c3e50*/;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #7FE5FF/*#1abc9c*/;
}
.range-slider__range:active::-moz-range-thumb {
  background: #7FE5FF/*#1abc9c*/;
}
.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #00c6d7/*#1abc9c*/;
}

.range-slider__value {
  /* display: inline-block; */
  position: relative;
  width: 20%;
  height: 30px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  vertical-align: center;
  border-radius: 3px;
  background: #545859/*#2c3e50*/;
  margin: auto;
  margin-left: 5px;
  font-size: large;
  padding-top: 5px;
}

.range-slider__label{
    /* diplay :inline-block; */
    position: relative;
    width:30%;
    line-height: 20px;
    text-align: left;
    border-radius: 3px;
    padding: 1px 1px;
    margin: auto;
    margin-left: 0px;
    color:#0066A1;
    font-size: large;
}

.dot {
  margin: auto;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#label_container{
}
#executeText,
#addText,
#saveText,
#deleteText,
#moveText,
#resetText,
#recordText{
  display:none;
  text-align: center;
  width: 100%;
}